S3method(print,stepwedge_power)
export(analyze_lpa_outcomes)
export(cluster_sd_to_icc)
export(estimate_power)
export(estimate_specialty_rates)
export(estimate_type1_error)
export(fit_specialty_rate_model)
export(icc_to_cluster_sd)
export(prepare_physician_data)
export(read_example_physician_data)
export(run_stepwedge_analysis)
export(simulate_stepwedge_trial)
export(summarize_by_specialty)
importFrom(lme4,VarCorr)
importFrom(lme4,glmer)
